body{
    font-family: Arial;
    background:#f3f3f3;

}
.login-box{
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border: 1px solid #ddd;
    border-radius:8px;
   box-shadow: 0px 0px 25px gray;
 
}

.login-box h2{
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-box input{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
}
.login-box button{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left:70px;
    padding: 10px;
    background:#f0c14b;
    color: black;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-weight:200;
    border-radius: 5px;

}
